@import "./../../sass/variables";

.form-errors {
    color: $warning-color;
    
    & ul li {
        text-align: center;
        color: $warning-color;
    }

    & span {
        text-align: center;
    }
}