@import './../../sass/mixins';
@import './../../sass/variables';

.plantlist {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;

    & .plantbox{
        width: 24%;
        margin-bottom: $grid-base;
    } 
}