@import './../../../sass/variables';
@import './../../../sass/mixins';


.article {
    width: 100%;
    margin: $grid-base 0 $grid-base*3 0;

    @include x-large-up {
        width: auto;
        max-width: 800px;
    }

    @include xx-large-up {
        max-width: 1000px;
    }

    &__container {
        display: block;

        @include x-large-up {
            display: flex;
        }
    }

    &__categories{
        margin-top: $grid-base*8;
        margin-bottom: $grid-base;
        display: flex;
        flex-wrap: wrap;
        gap: $grid-base*0.5;

        @include medium-up {
            margin-top: $grid-base*9;
        }

        @include x-large-up {
            margin-top: $grid-base;
        }
    }

    & img {
        margin-bottom: -5px;
        background-color: $white-color;
    }

    &__box {
        background-color: $white-color;
        padding: $grid-base*2;
        
        

        & a {
            font-weight: bold;
            color: $base-light-color;
        }
    }

    &__title {
        text-align: center;
        font-size: $font-size-2;
        margin: $grid-base*3 0;
    }

    &__content {
        @include medium-up {
            padding: $grid-base*2;
        }
    }


    &__similar {
        display: block;

        @include medium-up { 
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include x-large-up {
            display: block;
        }

        &>div {
            width: 100%;
            margin-bottom: $grid-base*2;

            &:first-child {
                margin-top: 0;

                @include x-large-up {
                    margin-top: $grid-base*5.3;
                }
            }

            @include medium-up {
                width: 49%;
                margin-bottom: $grid-base*2;
            }

            @include x-large-up {
                width: 90%;
                margin: $grid-base*2 0 0 $grid-base*2;
            }
        }
    }
}