@import './../../../sass/variables';
@import './../../../sass/mixins';


.article {
    max-width: 1200px;
    margin: $grid-base auto $grid-base*3 auto;

    &__categories{
        margin-top: $grid-base*9;
        margin-bottom: $grid-base;
        display: flex;
        flex-wrap: wrap;
        gap: $grid-base*0.5;
    }

    & img {
        margin-bottom: -5px;
    }

    &__box {
        background-color: $white-color;
        
        @include medium-up {
            padding: $grid-base;
        }
    }

    &__title {
        text-align: center;
        font-size: $font-size-2;
        margin: $grid-base*3 0;
    }

    &__content {
        padding: $grid-base;
    }
}