@import './../../../sass/animations';
@import './../../../sass/mixins';

.carousel {
    width: 100%;
    height: 100%;
    background-color: $white-color;

    &__container {
        width: 100%;
        position: relative;
    }

    &__numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    &__img {
        width: 100%;
        height: auto;
        box-shadow: $box-shadow-inset-black;

        img {
            height: auto;
            position: relative;
            z-index: -2;
        }
    }

    &__text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    &__prev,
    &__next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            text-decoration: none;
        }
    }

    &__next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    &__dots {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        left: 0;
        margin-bottom: 10px;
    }

    &__dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &:hover {
            background-color: #717171;
        }
    }
}

#mySlides {
    width: 100%;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}