@import './../sass/mixins';

.home {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        'posts posts'
        'categories tags';

    @include x-large-up {
        grid-template-areas: 
        'posts posts posts categories'
        'posts posts posts tags';
    }

    & h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    & > div {
        & > ul {
            background-color: white;
            padding: 10px;
        }
        
    }

    &__posts {
        grid-area: posts;

        & ul {
            height: 420px;
        }
    }

    &__categories {
        grid-area: categories;
        & ul {
            display: flex;
            flex-wrap: wrap;
            height: 200px;

            & li {
                margin-left: 10px;
            }
        }
    }

    &__tags {
        grid-area: tags;

        & ul {
            display: flex;
            flex-wrap: wrap;
            height: 150px;

            & li {
                margin-left: 10px;
            }
        }
    }
    
}