@import './../sass/mixins';

.main {
    @include large-up  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    @include x-large-up  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__carousel {
        @include large-up  {
            grid-area: 1 / 1 / span 1 / span 2;
        }
        @include x-large-up  {
            grid-area: 1;
        }
    }

    &__block {

        @include large-up {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            & img {
                background-color: white;
                width: 100%;
                height: 250px;
            }
        }

        @include x-large-up {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            & img {
                background-color: white;
                width: 100%;
                height: 250px;
            }
        }

        @include xx-large-up {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            & img {
                background-color: white;
                width: 100%;
                height: 250px;
            }

        }

    }
}

.display-grid {
    display: grid;
}

.fade-long {
    animation-name: fade-long;
    animation-duration: 5s;
}