@import './variables';
@import './mixins';


body {
    background-color: $base-lighter-color;
    color: $gray-dark-color;
    font-family: 'Montserrat', sans-serif;
}

button, input::placeholder, select, textarea {
    font-family: 'Montserrat', sans-serif;
}

.select-selected {
    background-color: green;
  }

.container {
    margin: 0 auto;
    width: 95%;

    @include xx-large-up {
        max-width: 1400px;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    padding:  0;
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    text-decoration: none;
    color: $gray-dark-color;
}

p {
    font-size: $font-size-7;
    font-weight: normal;
    margin: 0;
    margin-bottom: $grid-base;

    @include medium-up {
        font-size: $font-size-6;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: $font-size-5;
}

a {
    color: $gray-dark-color;
    text-decoration: none;
    &:hover {
        color: $gray-dark-color;
        text-decoration: underline;
    }
}