@import './../../../sass/mixins';
@import './../../../sass/variables';

.createpost {
    padding: $grid-base*5;

    & h1 {
        margin-left: $grid-base;
        font-size: $font-size-2;
        margin-bottom: $grid-base;
        color: $base-darker-color;
    }

    &__form {
        background-color: $white-color;
        border-radius: $border-radius;
        padding: $grid-base*2;

        & fieldset {
            padding: $grid-base*2;
            margin: $grid-base*3 $grid-base;
        }

    }

    &__row {
        margin-top: $grid-base*2;
        margin-bottom: $grid-base*1.5;
        display: flex;
        align-items: center;

        & label {
            font-size: $font-size-5;
            width: 15%;
            text-align: end;
            margin-right: $grid-base;
        }
        & input, textarea {
            padding: $grid-base*.5;
            width: 75%;
            resize: none;
        }
    }

    &__cartegories {
        display: flex;
        flex-wrap: wrap;

        & > div {
            display: flex;
            flex-wrap: wrap;
            margin-right: $grid-base*2;

            & input {
                width: auto;
                margin-right: $grid-base*.5;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;

        & > button {
            margin: 0 0 $grid-base $grid-base;
        }
    }
}