@import './../../sass/variables';
@import './../../sass/mixins';
@import './../../sass/animations';

.mt-67 {
    margin-top: 67px;
}

.navbar {
    width: 100vw;
    background-color: rgba($white-color, $alpha: 0.95);
    color: $gray-color;
    padding: $grid-base*1.5 0;
    position: fixed;
    top: 0;
    z-index: 100;

    & nav {
        display: flex;
        align-items: center;

        @include large-up {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
        }

    }

    &__logo {
        font-size: $font-size-4;
        justify-self: start;
        padding-left: 20px;
        flex-grow: 2;

        & span {
            color: $base-darker-color;
        }

        @include large-up {
            grid-area: 1;
            font-size: $font-size-3;
        }
    }

    &__nav {
        display: none;

        @include large-up {
            display: flex;
        }

        & li {
            margin-right: 10px;

            & a {
                padding: 10px 10px;
                border-radius: $border-radius;
                width: 100%;
                color: $gray-color;
                text-decoration: none;

                &:hover {
                    background-color: $base-lighter-color;
                }
            }
        }
    }

    &__search {
        display: none;
        margin-bottom: 0;

        @include medium-up {
            height: 100%;
            display: flex;
        }
    }

    &__user {
        display: none;

        @include large-up {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-self: center;
            justify-content: end;
            margin-left: $grid-base;
        }

        &-dropdown {
            position: relative;

            &>button {
                padding: $grid-base $grid-base*3;
                border-radius: $border-radius;
                border: 1px solid $base-dark-color;

                &:hover {
                    background-color: $white-color;
                }
            }

            & #dropdownMenu {
                background-color: $white-color;
                padding: $grid-base*2;
                font-size: $font-size-6;
                border-radius: $border-radius;
                border: 1px solid $base-dark-color;
                position: fixed;

                &>li {
                    margin: $grid-base 0;
                }
            }
        }
    }

    &--tablet {
        display: none;
        margin-left: 20px;
        padding: 5px 20px 0 0;

        @include medium-up {
            display: block;
        }

        @include large-up {
            display: none;
        }

        &>button {
            background-color: transparent;
            font-size: 25px;
            line-height: 25px;
            border: none;
            cursor: pointer;
        }

        & #navTablet {
            background-color: $gray-color;
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            width: 30vw;
            margin-top: 67px;
            padding: $grid-base*3;
            text-align: center;

            transition: all .5s ease-in-out;
        }

        & li {
            margin-top: $grid-base*3;
        }

        & a {
            color: $white-color;
        }

        &__user {
            background-color: $gray-light-color;
            margin: $grid-base*4 0;
            padding: $grid-base*.5 0 $grid-base*3 0;
            border-radius: $border-radius;

            & li a {
                color: $gray-dark-color;
            }

            &-name {
                padding-bottom: $grid-base*2;
                border-bottom: 2px solid $gray-color;
                font-weight: bold;
                color: $base-light-color;
            }
        }
    }

    &--mobile {
        display: block;
        margin-right: $grid-base*2;

        @include medium-up {
            display: none;
        }

        &>button {
            background-color: transparent;
            display: flex;
            font-size: $font-size-2;
            border: none;
            cursor: pointer;
        }

        & #navMoblie {
            background-color: $gray-color;
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            width: 70vw;
            margin-top: 54px;
            padding: $grid-base*3;
            text-align: center;

            & form {
                display: flex;
                justify-content: center;
            }

            & li {
                margin-top: $grid-base*3;
            }

            & a {
                color: $white-color;
            }
        }

    }
}

